$primary-color-1: rgb(30,25,50);
$primary-color-2: rgb(20,15,40);
$primary-color-3: rgb(62,33,100);

$secondary-color-1: rgb(224,129,7);
$secondary-color-2: rgb(252,174,13);

$light-color-1: rgb(254,255,246);
$light-color-2: rgb(243,233,221);

$dark-color-1: rgb(97,108,110);
$dark-color-2: rgb(100,100,100);
